<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off"  internalLogFile="c:\temp\nlog-internal.log">

    <targets>
      <target
        name="logfile"
        xsi:type="File"
        fileName="${basedir}/logs/logexpert.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
        encoding="utf-8"
        archiveEvery="Day"
        archiveFileName="${basedir}/logs/Archiv/logexpert{#}.log"
        archiveDateFormat="yyyyMMdd" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>