<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" throwConfigExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <targets>
      <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}\LogExpert\logs\logexpert.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:innerFormat=Type,ToString:${newline}maxInnerExceptionLevel=10:innerExceptionSeparator=-----------------------:format=Message,Type,ToString}" encoding="utf-8" archiveEvery="Day" archiveFileName="${specialfolder:folder=ApplicationData}\LogExpert\logs\Archiv\logexpert{#}.log" archiveDateFormat="yyyyMMdd" maxArchiveFiles="5" createDirs="true"/>
    </targets>

    <rules>
      <logger name="Program" minlevel="Info" writeTo="logfile"/>
      <logger name="*" minlevel="Warn" writeTo="logfile"/>
    </rules>
  </nlog>
  
  <!--Uncomment to run remote dlls in full trust-->
  <!--<runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
